<!-- primeflex-navbar.component.html -->
<nav class="flex flex-wrap justify-content-between align-items-center bg-primary p-3">
    <div class="flex align-items-center">
      <a href="#" class="font-bold text-2xl no-underline text-green-400" routerLink="credentials">Logo</a>
    </div>
  
    <button class="p-link flex align-items-center justify-content-center border-circle bg-primary text-white w-3rem h-3rem md:hidden" (click)="toggleMenu()">
      <i class="pi pi-bars text-2xl"></i>
    </button>
  
    <div class="hidden md:flex flex-grow-1 justify-content-end">
      <ul class="flex list-none m-0 p-0">
        <li class="mr-4"><a class="text-white no-underline hover:text-primary-100" routerLink="ip-manager">IP Permission</a></li>
        <li><a (click)="logout()" class="text-red-400 no-underline hover:text-primary-100"><i class="pi pi-sign-out mr-2"></i>Logout</a></li>
      </ul>
    </div>
  
    <div class="w-full md:hidden" [ngClass]="{'hidden': !isMenuVisible}">
      <ul class="list-none m-0 p-0 pt-3">
        <li class="mb-2"><a href="#" class="text-white no-underline hover:text-primary-100"  routerLink="ip-manager">IP Permission</a></li>
        <li><a (click)="logout()" class="text-white no-underline hover:text-primary-100"><i class="pi pi-sign-out mr-2"></i>Logout</a></li>
      </ul>
    </div>
  </nav>